body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
    text-align: center;
}

.container {
    margin-top: 100px;
}

h1 {
    font-size: 50px;
    color: #38bdf8;
}

h2 {
    font-size: 20px;
    color: #94a3b8;
}

p {
    width: 60%;
    margin: auto;
    margin-top: 20px;
    line-height: 1.6;
}

.reel {
    margin-top: 50px;
}

audio {
    margin-top: 10px;
    width: 300px;
}

button {
    margin-top: 40px;
    padding: 12px 25px;
    border: none;
    background: #38bdf8;
    color: black;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
}

button:hover {
    background: white;
}
.projects {
    margin-top: 70px;
    padding: 20px;
}

.projects h2 {
    font-size: 30px;
    color: #38bdf8;
    margin-bottom: 30px;
}

.project {
    background: #1e293b;
    margin: 20px auto;
    padding: 20px;
    width: 60%;
    border-radius: 10px;
    text-align: left;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.project h3 {
    color: #ffffff;
    margin-bottom: 10px;
}

.project p {
    color: #94a3b8;
    width: 100%;
    margin: 0;
}
.reel-player {
    margin-top: 60px;
}

.player {
    background: #111827;
    padding: 20px;
    width: 60%;
    margin: auto;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.6);
}

#trackTitle {
    color: #38bdf8;
    margin-bottom: 10px;
}

#playBtn {
    background: #38bdf8;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 6px;
}

#progress {
    width: 100%;
    margin-top: 15px;
}